<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="email">Email Address</label>
        <input type="email" name="email" id="email">
        <!-- <label for="password">Enter Password<label>
        <input type="password" name="password" id="password"> -->
        <button type="submit">Submit</button>
        
    </form>
    {% if flag %}
        <p>{{error}}</p>
    {% endif %}
</body>
</html>